.flex-align {
  display: flex;
}

.vc-chrome {
  box-shadow: none !important;
}

.kin-color-picker {
  position: relative;

  .abs {
    box-shadow: 0 0 2px rgba(0,0,0,.3), 0 4px 8px rgba(0,0,0,.3);
    position: absolute;
    background: white;
    top: 0;
    left: 55px;
    z-index: 9999;
  }
}

.picker-output {
  width: 54px;
  height: 34px;
  margin: 0 10px 0 0;
  cursor: pointer;
  border: 1px solid #CCC;
}