<template>
  <div class="kin-color-picker">
    <div class="abs" ref="absPointer"
        v-show="pickerShown">
        <color-picker
          class="form-group"
          v-model="color" />
          <div class="clearfix">
            <div class="col-sm-6 form-group">
              <button class="btn btn-default" @click="revertColor()">Cancel</button>
            </div>
            <div class="col-sm-6 form-group text-right">
              <button class="btn btn-success" @click="commitColor()">Done</button>
            </div>
          </div><!-- .row -->
    </div>
    <div class="flex-align">
      <div class="picker-output form-group"
        @click="pickerShown = !pickerShown"
        :style="{'background-color': currentHex}"></div>
      <input type="text" class="form-control" placeholder="Min Hex Color..." v-model="currentHex" />
    </div>
  </div><!-- .kin-color-picker -->
</template>

<script src="./KinColorPicker.component.js"></script>
<style lang="scss" scope src="./KinColorPicker.scss"></style>
