.loading-blocker {
    position: absolute;
    background: rgba(40, 24, 85, 0.94);
    z-index: 1;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  
    .loading-message {
      position: absolute;
      top: 50%;
      margin-top: -30px;
      left: 50%;
      margin-left: -70px;
      text-align: center;
  
      .loading-text {
        color: #FFF;
        margin-bottom: 15px;
      }
    }
  }.loading-blocker {
    position: absolute;
    background: rgba(40, 24, 85, 0.94);
    z-index: 1;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  
    .loading-message {
      position: absolute;
      top: 50%;
      margin-top: -30px;
      left: 50%;
      margin-left: -70px;
      text-align: center;
  
      .loading-text {
        color: #FFF;
        margin-bottom: 15px;
      }
    }
  }