<template>
  <div class="cluster-screen">

    <h3 class="sidebar-title"><i class="fa fa-snowflake-o"></i> Cluster View</h3>

    <div class="sidebar-padding">

      <div class="loading-blocker" v-if="loading">
        <div class="loading-message">
          <div class="loading-text">{{loadingMessage}}</div>
          <pulse-loader :loading="loading" :color="'#FFF'"></pulse-loader>
        </div><!-- .loading-message -->
      </div><!-- .loading-blocker -->


      <div class="form-group">
        <label>Table Name</label>
        <input type="text" class="form-control" v-model="selectedTable">
      </div><!-- .form-group-->

      <div class="row">
        <div class="form-group col-md-6">
          <label>Cluster Precision</label>
          <input type="text" id="cluster-precision" class="form-control" placeholder="Cluster precision..."
            v-model="clusterPrecision" />
        </div><!-- .form-group -->

        <div class="form-group col-md-6">
          <label>Render Radius</label>
          <input type="text" id="cluster-radius" class="form-control" placeholder="Cluster radius..."
            v-model="clusterRadius" />
        </div><!-- .form-group -->
      </div>

      <div class="row">
      <div class="form-group col-md-6">
        <label>X Column</label>
        <input type="text" id="x-column" class="form-control" placeholder="X Column..."
          v-model="xCol" />
      </div><!-- .form-group -->

        <div class="form-group col-md-6">
          <label>Y Column</label>
          <input type="text" id="y-column" class="form-control" placeholder="Y Column..."
            v-model="yCol" />
        </div><!-- .form-group -->
      </div><!-- .row -->

        <div class="form-group">
          <label>
            <input type="checkbox" v-model="useBbox" />
            Use Current Extent as Bounding Box
          </label>
        </div><!-- .form-group -->

        <h4 class="heading">Visualization Parameters</h4>

        <div class="form-group row">
          <div class="col-md-6">
            <label>Min Color</label>
            <kin-color-picker v-model="minColor" defaultColor="#00FF00"></kin-color-picker>
            </div>
          <div class="col-md-6">
            <label>Max Color</label>
            <kin-color-picker v-model="maxColor"></kin-color-picker>
          </div>
        </div><!-- .form-group -->

        <div class="form-group row">
          <div class="col-md-6">
            <label>Min Cluster Size (px)</label>
            <input type="text" class="form-control" placeholder="Min Size Pixels..." v-model="minSize" />
            </div>
          <div class="col-md-6">
            <label>Max Cluster Size (px)</label>
            <input type="text" class="form-control" placeholder="Max Size Pixels..." v-model="maxSize" />
          </div>
        </div><!-- .form-group -->

      <div class="form-group">
        <button class="btn btn-primary form-control"
          @click="runCluster()">Generate Cluster View</button>
      </div><!-- .form-group -->

    </div><!--.cluster-screen-->
  </div>
</template>

<script src="./KinClusterScreen.component.js"></script>
<style lang="scss" src="./KinClusterScreen.scss"></style>
