<template>
  <div class="kin-settings-modal">

    <div class="form-group">
      <label>Kinetica API URL</label>
      <input type="text" class="form-control" placeholder="API Url..."
        v-model="settings.apiUrl"
        @change="updateSettings($event)" />
    </div><!-- .form-group -->

    <h4>Authorization</h4>

    <div class="clearfix row form-group">
      <div class="col-sm-6">
        <label>Username</label>
        <input type="text" class="form-control" placeholder="Username..."
          v-model="settings.username"
          @change="updateSettings($event)"  />
      </div>
      <div class="col-sm-6">
        <label>Password</label>
        <form>
        <input type="password" class="form-control" placeholder="Password..."
          @change="updateSettings($event)"
          v-model="settings.password" />
        </form>
      </div>
    </div>

    <div class="form-group">
      <button class="btn btn-sm btn-danger"
        @click="flushSettings">
          <i class="fa fa-trash"></i>
          Flush Settings
      </button>
    </div><!-- .form-group -->
  </div>
</template>

<script src="./KinSettingsModal.component.js"></script>
<style lang="scss" src="./KinSettingsModal.scss" scoped></style>