@import '~@/style/branding';
@import '~@/style/bootstrap';

.modal-header {
  background: $purple-light;
  color: #FFF;
}
.modal-title {
  font-weight: bold;
  float: left;
}

.modal-footer {
  background-color: #EEE;
}

.close {
  color: #FFF;
}

.modal-dialog {
  z-index: 1041;
}