<template>
<ul class="list">
  <div v-for="item in items">
    <slot v-bind="item"></slot>
  </div>
</ul>
</template>
<script>
//////////////////////////////
// Props
//////////////////////////////
let props = ['items'];

//////////////////////////////
// Data
//////////////////////////////
let data = function () {
  return {};
};

//////////////////////////////
// Component
//////////////////////////////
export default {
  data,
  props
};
</script>