<template>
  <div class="form-group filter-editor">
    <div class="row">
      <div class="col-sm-4 no-pad-right">
        <select class="column-name form-control"
          v-model="columnName" @change="updateExpression()">
          <option disabled selected>Column Name</option>
          <option v-for="t in fields" :key="t.name">
            {{t.name}}
          </option>
        </select>
      </div><!-- .col-sm-4 -->
      <div class="col-sm-4 no-pad-right">
        <select class="operator form-control"
          v-model="operator" @change="updateExpression()">
          <option v-for="t in operators" :key="t.operator" :value="t.operator">
            {{t.name}}
          </option>
        </select>
      </div>
      <div class="col-sm-4">
        <input type="text" id="filter-value" class="form-control" placeholder="Value..." v-model="filterValue"
          @change="updateExpression()" />
      </div><!-- .form-group -->
    </div>
  </div>
</template>

<script type="text/javascript" src="./KinFilterRowEditor.component.js"></script>