<template>
<div class="wms-list-editor">
  <div class="row">
    <div class="form-group col-sm-6">
      <label>WMS URL</label>
      <input type="text" class="form-control" placeholder="WMS URL..."
        v-model="wmsUrl" />
    </div><!-- .form-group -->
    <div class="form-group col-sm-6">
      <label>Kinetica API URL</label>
      <input type="text" class="form-control" placeholder="Kinetica API URL..."
        v-model="apiUrl" />
    </div><!-- .form-group -->
  </div><!-- .row -->
  <div class="row">
    <div class="col-sm-12 text-right">
      <button class="btn btn-primary"
        @click="addWmsLayer"><i class="fa fa-plus"></i> Add WMS Layer</button>
    </div><!-- .col-sm-12 -->
  </div><!-- .row -->

  <kin-editable-list-editor
    :items="wmsList">
      <template scope="item">
        <li class="list-item">
          <b>WMS URL:</b> {{ item.wmsUrl }}<br/>
          <b>API Url:</b> {{ item.apiUrl }}
          <button class="btn btn-sm btn-danger pull-right"
            @click="removeMe(item)"><i class="fa fa-trash"></i></button>
        </li>
      </template>
    </kin-editable-list-editor>

</div><!-- .wms-list-editor -->
</template>
<script>

import KinEditableListEditor from '@/components/editors/KinEditableListEditor';

//////////////////////////////
// Data
//////////////////////////////

let data = function () {
  return {
    apiUrl: null,
    wmsUrl: null,
    wmsList: []
  };
};

//////////////////////////////
// Methods
//////////////////////////////

function addWmsLayer () {
  if (!this.apiUrl || !this.wmsUrl) {
    return;
  }
  let fixture = {
    apiUrl: this.apiUrl,
    wmsUrl: this.wmsUrl
  };
  this.wmsList.push(fixture);

  this.apiUrl = null;
  this.wmsUrl = null;
}

//////////////////////////////
// Component
//////////////////////////////

export default {
  components: {
    KinEditableListEditor
  },
  data,
  methods: {
    addWmsLayer
  }
};
</script>
<style lang="scss">
</style>