@import '~@/style/branding';

$testaroni: $navbar-height + $toolbar-height;

.layer-title {
  margin: 0;
}

.section-heading {
  font-size: 15px;
  font-weight: bold;
  border-bottom: 1px solid #CCC;
  display: block;
  margin-left: 5px;
  margin-bottom: 15px;
}

.layer-list {
  height: calc(100vh - #{$testaroni});
  overflow: auto;
}

.layers-toolbar {
  display: none;
}

.sidebar.open .toolbar-bottom {
  display: block;
  background: #EEE;
  border-top: 1px solid #d2d2d2;
  padding: 15px;
  overflow: hidden;
}