<template>
  <div class="heatmap-screen">
    <div class="layer-list">
      <h3 class="sidebar-title"><i class="fa fa-fire"></i> Raster Layers</h3>
      <kin-sortable-layer-list-editor class="layer-editor"
        :refreshFn="handleRefresh"
        :filtering="false"
        :removeLayerFn="removeLayer"
        :tables="tables"
        :layers="orderedLayers">
      </kin-sortable-layer-list-editor>
    </div><!-- .editors -->

    <div class="toolbar-bottom sidebar-padding">
      <button class="btn btn-primary form-control"
        @click="addLayer()"><i class="fa fa-plus"></i> Add Layer</button>
    </div>
  </div>
</template>
<script src="./KinHeatmapScreen.component.js"></script>
<style lang="scss" src="./KinHeatmapScreen.scss"></style>