<template>
  <div class="raster-settings">
    <div class="row">
      <div class="form-group col-sm-6">
        <label>Point Size</label>
        <range-slider
          class="slider"
          min="1"
          max="20"
          step="1"
          v-model="localPointSize"
          @change="updatePointSize">
        </range-slider>
      </div><!-- .form-group -->

      <div class="form-group col-sm-6">
        <!-- POINT SHAPES PICKER -->
        <label>Point Shape</label>
        <KinPointShapesEditor
          v-model="localPointShape"
          @input="updatePointShape">
        </KinPointShapesEditor>
      </div><!-- .form-group -->
    </div><!-- .row -->

    <div class="row">
      <div class="form-group col-sm-6">
        <label>Point Color</label>
        <kin-color-picker
          v-model="localPointColor"
          @input="updatePointColor">
        </kin-color-picker>
      </div><!-- .form-group -->
    </div><!-- .row -->

  </div><!-- .raster-settings -->
</template>
<script>

import * as lodash from 'lodash';
import RangeSlider from 'vue-range-slider';

import KinColorPicker from '@/components/editors/KinColorPicker';
import KinPointShapesEditor from '@/components/editors/KinPointShapesEditor';

//////////////////////////////
// Fixtures
//////////////////////////////

let defaultColors = {
  hex: '#194d33',
  hsl: {
    h: 150,
    s: 0.5,
    l: 0.2,
    a: 1
  },
  hsv: {
    h: 150,
    s: 0.66,
    v: 0.30,
    a: 1
  },
  rgba: {
    r: 25,
    g: 77,
    b: 51,
    a: 1
  },
  a: 1
};

//////////////////////////////
// Created
//////////////////////////////

function created() {
  this.localPointColor = this.pointColor;
  this.localPointShape = this.pointShape;
  this.localPointSize = this.pointSize;
}

//////////////////////////////
// Data
//////////////////////////////

function data() {
  return {
    localPointColor: null,
    localPointShape: null,
    localPointSize: null
  };
}

//////////////////////////////
// Props
//////////////////////////////

let props = {
  refreshFn: {
    type: Function,
    default: () => { console.warn('No refreshFn registered.'); }
  },
  pointSize: {
    type: Number,
    default: 3
  },
  pointColor: {
    type: Object,
    default: () => { return lodash.cloneDeep(defaultColors); }
  },
  pointShape: {
    type: String,
    default: 'CIRCLE'
  }
};

//////////////////////////////
// Methods
//////////////////////////////

function updatePointColor(newVal) {
  console.dir('updating point color');
  this.$emit('pointColorUpdated', newVal);
}

function updatePointShape(newVal) {
  console.dir(newVal);
  this.$emit('pointShapeUpdated', newVal);
}

function updatePointSize(newVal) {
  this.$emit('pointSizeUpdated', newVal);
}

//////////////////////////////
// Exported Module
//////////////////////////////

export default {
  components: {
    KinColorPicker,
    KinPointShapesEditor,
    RangeSlider
  },
  created,
  data,
  methods: {
    updatePointColor,
    updatePointShape,
    updatePointSize
  },
  props
};
</script>