<template>
  <div class="color-map-control">
    <select ref="input" class="form-control"
      :value="selectedColor"
      @input="updateValue($event.target.value)">
      <optgroup v-for="(group, name) in colorMaps" :label="name" :key="name">
        <option v-for="option in group" :value="option.key" :key="option.key">
          {{ option.value }}
        </option>
      </optgroup>
    </select>
  </div>
</template>
<script>

//////////////////////////////
// Hooks
//////////////////////////////

/**
 * Serves static data to the component
 */
function data () {
  return {
    selectedColor: 'jet',
    colorMaps: {
      'Perceptually-Uniform': [
        {key: 'viridis', value: 'Viridis'},
        {key: 'inferno', value: 'Infirno'},
        {key: 'plasma', value: 'Plasma'},
        {key: 'magma', value: 'Magma'},
        {key: 'Blues', value: 'Blues'},
        {key: 'BuGn', value: 'Blue/Green'},
        {key: 'BuPu', value: 'Blue/Purple'},
        {key: 'GnBu', value: 'Geen/Blue'},
        {key: 'Greens', value: 'Greens'},
        {key: 'Greys', value: 'Grays'}
      ],
      'Sequential I': [
        {key: 'Oranges', value: 'Oranges'},
        {key: 'OrRd', value: 'Orange/Red'},
        {key: 'PuBu', value: 'Purple/Blue'},
        {key: 'PuBuGn', value: 'Purple/BlueGreen'},
        {key: 'PuRd', value: 'Purple/Red'},
        {key: 'Purples', value: 'Purples'},
        {key: 'RdPu', value: 'Red/Purple'},
        {key: 'Reds', value: 'Reds'},
        {key: 'YlGn', value: 'Yellow/Green'},
        {key: 'YlGnBu', value: 'Yellow/Green/Blue'},
        {key: 'YlOrBr', value: 'Yellow/Orange/Brown'},
        {key: 'YlOrRd', value: 'Yellow/Orange/Red'}
      ],
      'Sequential II': [
        {key: 'afmhot', value: 'AFM Hot'},
        {key: 'autumn', value: 'Autumn'},
        {key: 'bone', value: 'Bone'},
        {key: 'cool', value: 'Cool'},
        {key: 'copper', value: 'Copper'},
        {key: 'gist_heat', value: 'Gist Heat'},
        {key: 'gray', value: 'Gray'},
        {key: 'gist_gray', value: 'Gist Gray'},
        {key: 'gist_yarg', value: 'Yarg'},
        {key: 'binary', value: 'Binary'},
        {key: 'hot', value: 'Hot'},
        {key: 'pink', value: 'Pink'},
        {key: 'spring', value: 'Spring'},
        {key: 'summer', value: 'Summer'},
        {key: 'winter', value: 'Winter'}
      ],
      'Diverging': [
        {key: 'BrBG', value: 'Brown/BG'},
        {key: 'bwr', value: 'BWR'},
        {key: 'coolwarm', value: 'Cool/Warm'},
        {key: 'PiYG', value: 'PiYg'},
        {key: 'PRGn', value: 'Purple/Red/Green'},
        {key: 'PuOr', value: 'Purple/Orange'},
        {key: 'RdBu', value: 'Red/Blue'},
        {key: 'RdGy', value: 'Red/Gray'},
        {key: 'RdYlBu', value: 'Red/YellowBlue'},
        {key: 'RdYlGn', value: 'RedYellow/Green'},
        {key: 'Spectral', value: 'Spectral'},
        {key: 'seismic', value: 'Seismic'}
      ],
      'Qualitative': [
        {key: 'Accent', value: 'Accent'},
        {key: 'Dark2', value: 'Dark 2'},
        {key: 'Paired', value: 'Paired'},
        {key: 'Pastel1', value: 'Pastel 1'},
        {key: 'Pastel2', value: 'Pastel 2'},
        {key: 'Set1', value: 'Set 1'},
        {key: 'Set2', value: 'Set 2'},
        {key: 'Set3', value: 'Set 3'}
      ],
      'Misc': [
        {key: 'gist_earth', value: 'Gist Earth'},
        {key: 'terrain', value: 'Terrain'},
        {key: 'ocean', value: 'Ocean'},
        {key: 'gist_stern', value: 'Gist Stern'},
        {key: 'brg', value: 'BRG'},
        {key: 'CMRmap', value: 'CMR Map'},
        {key: 'cubehelix', value: 'Cube Helix'},
        {key: 'gnuplot', value: 'GNU Plot'},
        {key: 'gnuplot2', value: 'GNU Plot 2'},
        {key: 'gist_ncar', value: 'Gist NCAR'},
        {key: 'spectral', value: 'Spectral'},
        {key: 'nipy_spectral', value: 'Nipy Spectral'},
        {key: 'jet', value: 'Jet'},
        {key: 'rainbow', value: 'Rainbow'},
        {key: 'gist_rainbow', value: 'Gist Rainbow'},
        {key: 'hsv', value: 'HSV'},
        {key: 'flag', value: 'Flag'},
        {key: 'prism', value: 'Prism'}
      ]
    }
  };
}

//////////////////////////////
// Created
//////////////////////////////

function created() {
  this.selectedColor = this.value;
}

//////////////////////////////
// Methods
//////////////////////////////

/**
 * Updates the input value and emits the input event
 * @param {Object} value - The new value
 */
function updateValue (value) {
  this.$refs.input.value = value;
  this.$emit('input', value);
}

//////////////////////////////
// Component
//////////////////////////////

export default {
  created,
  data,
  props: ['value'],
  methods: {
    updateValue
  }
};
</script>
<style scoped>
</style>