<template>
  <div class="kin-segmented-bar-chart-container">
    <span class="bar-chart-tooltip"></span>
    <svg class="kin-segmented-bar-chart" :height="calcHeight" :width="calcWidth"></svg>
  </div><!-- .kin-segmented-bar-chart -->
</template>
<script src="./KinSegmentedBarChart.component.js"></script>
<style lang="scss">
    .bar-chart-tooltip {
      position: absolute;
      background: white;
      border: 1px solid #CCC;
      padding: 5px;
      box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
      border-radius: 5px;
      display: none;
    }
  .kin-segmented-bar-chart {
    .rect-label {
      cursor: pointer;
    }

    .y-axis .tick {
      cursor: pointer;
    }

    .x-axis .tick:nth-child(odd) {
      display: none;
    }

    .domain, .tick line {
      stroke: #757575;
    }
    .tick text {
      fill: #757575;
    }
    .bar-rect, .tick text {
      cursor: pointer;
    }
    .total-label {
      fill: #757575;
      text-anchor: end;
    }
    .faded {
      fill-opacity: 0.5;
    }
    .highlighted {
      fill-opacity: 1 !important;
    }
    .bold {
      font-weight: bold;
    }
  }
</style>
