<template>
  <div class="filter-editor form-group">

    <label>Filters</label>
    <div v-for="t in filters" :key="t.id" class="form-group well">
      <kin-filter-row-editor
      :filterId="t.id"
      :fields="fields"
      @input="updateExpression">
    </kin-filter-row-editor>
      <button class="btn btn-danger" @click="removeFilter(t)"><i class="fa fa-trash"></i> Remove</button>
    </div>

    <div class="form-group">
      <button class="form-control btn btn-primary" @click="addFilter()"><i class="fa fa-plus"></i>Add Filter</button>
    </div><!-- .form-group -->

    <div class="well">
      <b>Expression Output:</b> {{expressionOutput}}
    </div><!--.well-->
  </div><!--.filter-editor-->
</template>
<script src="./KinFilterEditor.component.js"></script>