<template>
  <div class="kin-v-bar-chart-container">
    <div class="kin-v-bar-chart-tooltip"></div>
    <svg class="kin-v-bar-chart" :height="calcHeight" :width="calcWidth">
        <rect class="bar-bg" :height="calcHeight" :width="calcWidth" style="fill-opacity: 0"></rect>
        <g class="bars">
          <g class="bar" v-for="row in chartData" v-bind:key="row['name']">
            <rect class="bar-rect"
              v-for="(category, index) in categories"
              v-bind:key="index"
              :class="['cat-' + index, getCssName(category)]">
            </rect>
            <text v-for="(category, index) in categories" v-bind:key="category" class="bar-title"
              :class="[`bar-title-${index}`]"></text>
            <text class="bar-value"></text>
          </g>
        </g>
        <g class="legend"></g>
    </svg>
  </div><!-- .kin-bar-chart-container -->
</template>

<script src="./KinVMultiBarChart.component.js"></script>
<style lang="scss" src="./KinVMultiBarChart.scss"></style>
