<template>
  <div class="kin-chart-options-modal">
    <kin-bar-chart-options-editor
      :chartTitle="localChartTitle" @chartTitleUpdated="updateChartTitle"
      :tableName="tableName" @tableNameUpdated="tableNameUpdated"
      :xAttr="xAttr" @xAttrUpdated="xAttrUpdated"
      :yAttr="yAttr" @yAttrUpdated="yAttrUpdated">
    </kin-bar-chart-options-editor>

    <kin-heatmap-settings-editor
      :showTitle="false"
      :colorMap="colorMap" @colorMapUpdated="updateColorMap"
      @blurRadiusUpdated="updateBlurRadius">
    </kin-heatmap-settings-editor>

  </div><!-- .kin-chart-options-modal -->
</template>
<script>

import KinWmsLayerEditor from '@/components/editors/KinWmsLayerEditor';
import KinBarChartOptionsEditor from '@/components/editors/KinBarChartOptionsEditor';
import KinHeatmapSettingsEditor from '@/components/editors/KinHeatmapSettingsEditor';

//////////////////////////////
// Created
//////////////////////////////

function created() {
  this.localChartTitle = this.chartTitle;
}

//////////////////////////////
// Data
//////////////////////////////

function data() {
  return {
  };
}

//////////////////////////////
// Methods
//////////////////////////////

function tableNameUpdated(newVal) {
  this.$emit('tableNameUpdated', newVal);
}

function xAttrUpdated(newVal) {
  this.$emit('xAttrUpdated', newVal);
}

function yAttrUpdated(newVal) {
  this.$emit('yAttrUpdated', newVal);
}

function updateBlurRadius(newVal) {
  this.$emit('blurRadiusUpdated', newVal);
}

function updateColorMap(newVal) {
  this.$emit('colorMapUpdated', newVal);
}

function updateChartTitle(newVal) {
  this.$emit('chartTitleUpdated', newVal);
}

//////////////////////////////
// Properties
//////////////////////////////

let props = {
  chartTitle: {
    type: String,
    default: ''
  },
  colorMap: {
    type: String,
    default: 'jet'
  },
  tableName: {
    type: String,
    default: ''
  },
  xAttr: {
    type: String,
    default: ''
  },
  yAttr: {
    type: String,
    default: ''
  }
};

//////////////////////////////
// Exported Module
//////////////////////////////

export default {
  components: {
    KinBarChartOptionsEditor,
    KinHeatmapSettingsEditor,
    KinWmsLayerEditor
  },
  created,
  data,
  methods: {
    tableNameUpdated,
    updateBlurRadius,
    updateChartTitle,
    updateColorMap,
    xAttrUpdated,
    yAttrUpdated
  },
  props
};
</script>
