<template>
  <ul class="list">
    <KinWmsLayerEditor
      :refreshFn="refreshFn"
      :removeLayerFn="removeLayerFn"
      :data-layer-id="layer.layerId"
      v-for='layer in layers'
      :filtering="layers.length < layers.length"
      :layer="layer"
      :key='layer.id'
      :tables="tables">
    </KinWmsLayerEditor>
    <li class="default-message" v-if="layers.length === 0">
      <h4 style="margin: 0;">Add Layers</h4>
      <p>No layers have been added to the map. Add WMS layers to visualize your data on the map.</p>
    </li>
  </ul>
</template>
<script>
// Modules
import * as lodash from 'lodash';
import Sortable from 'sortablejs';
import {mapGetters} from 'vuex';

// Components
import KinWmsLayerEditor from '@/components/editors/KinWmsLayerEditor';

//////////////////////////////
// Properties
//////////////////////////////

let props = {
  layers: {
    type: Array,
    default: function () { return []; }
  },
  filteredLayers: {
    type: Array,
    default: function () { return []; }
  },
  refreshFn: {
    type: Function,
    default: () => { console.debug('No refreshFn defined.'); }
  },
  removeLayerFn: {
    type: Function,
    default: () => { console.debug('No removeLayerFn defined.'); }
  },
  tables: {
    type: Array,
    default: []
  }
};

//////////////////////////////
// Mounted
//////////////////////////////

/**
 * Registers the sortable event handlers. Fires when the component has been mounted.
 */
async function mounted () {
  let self = this;
  let options = {
    handle: '.handle'
  };
  let map = await self.webmap;

  options.onUpdate = async function sortableUpdate (e) {
    let layerArr = map.getStyle().layers;
    let layerId = e.item.__vue__.$attrs['data-layer-id'];
    let partitionIndex = lodash.findIndex(layerArr, (lay) => { return lay.id === 'country-label-lg'; }) + 1;
    let newIndex = partitionIndex + e.newIndex;
    console.dir(newIndex);
    if (newIndex === layerArr.length - 1) {
      map.moveLayer(layerId);
    } else {
      map.moveLayer(layerId, layerArr[newIndex].id);
    }
  };
  Sortable.create(this.$el, options);
}

//////////////////////////////
// Component
//////////////////////////////

export default {
  computed: {
    ...mapGetters(['webmap'])
  },
  components: {
    KinWmsLayerEditor
  },
  mounted,
  props
};
</script>
<style>

  .layer-editor.list {
    margin: 0;
    padding:0;
  }

  .handle {
    margin: 0 10px;
    cursor: move;
    color: #CCC;
  }
  .default-message {
    padding: 15px;
    color: #AAA;
  }
</style>