<template>
<div class="modal-container">
  <div class="modal fade in show"
    v-if="show">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" @click="close()">&times;</span>
          </button>
          <h5 class="modal-title"><slot name="title-content"></slot></h5>
        </div><!-- .modal-header -->

        <div class="modal-body">
          <slot name="body-content"></slot>
        </div><!-- .modal-body -->

        <div class="modal-footer" v-if="showFooter">
          <div class="footer-content pull-left">
            <slot name="footer-content"></slot>
          </div>
          <button v-if="showCloseButton" class="btn btn-default" @click="close()">Close</button>
        </div><!-- .moda-footer -->
      </div><!-- .modal-content -->
    </div><!-- .modal-dialog -->
  </div>
    <div class="modal-backdrop fade in show" v-if="show"></div>
  </div><!-- .container -->
</template>
<script>
//////////////////////////////
// Properties
//////////////////////////////

let props = {
  content: {
    type: String,
    defaults: ''
  },
  show: {
    type: Boolean,
    default: false
  },
  showCloseButton: {
    type: Boolean,
    default: true
  },
  showFooter: {
    type: Boolean,
    default: false
  }
};

//////////////////////////////
// Methods
//////////////////////////////

function close() {
  this.$emit('close');
}

//////////////////////////////
// Exported Module
//////////////////////////////

export default {
  props,
  methods: {
    close
  }
};
</script>
<style lang="scss" scoped>
@import "~@/style/branding";

.modal-header {
  background: $purple-light;
  border-radius: 5px 5px 0 0;
}

.modal-footer {
  background: #EEE;
  border-radius: 0 0 5px 5px;
}

.close {
  color: #FFF;
}

  .modal-title {
    font-size: 18px;
    font-weight: bold;
    color: #FFF;
  }
</style>
