<template>
  <div class="kin-filter-screen">
    <h3 class="sidebar-title"><i class="fa fa-filter"></i> Create Filtered View</h3>
    <div class="sidebar-padding">
      <p class="tool-info"><b><i class="fa fa-question-circle"></i> Instructions:</b> Create a filtered view using the inputs below. Once your view has been created, navigate back to the Raster View tab and select your new view from the dropdown list to visualize it on the map. Your view will only be availabale for the length of your specified TTL.</p>

      <div class="form-group">
        <label for="table-name" class="required">Table Name</label>
        <input type="text" id="table-name" class="form-control" placeholder="Table name..."
          @change="getColumns" v-model="tableName" />
      </div><!-- .form-group -->

      <div class="form-group">
        <label for="view-name" class="required">View Name</label>
        <input type="text" id="view-name" class="form-control" placeholder="View name..." v-model="viewName" />
      </div><!-- .form-group -->

      <kin-filter-editor :fields="fields" @input="updateFilter"></kin-filter-editor>

      <div class="form-group">
        <label for="ttl">TTL (Minutes)</label>
        <input type="text" id="ttl" class="form-control" placeholder="TTL..." v-model="ttl" />
      </div><!-- .form-group -->

      <button class="btn btn-primary" :disabled="validateForm()"
        @click="generateView()">Generate View</button>
    </div><!-- .sidebar-padding -->
  </div><!-- .kin-filter-screen -->
</template>
<script src="./KinFilterScreen.component.js" type="text/javascript"></script>