<script>
/**
 * Events:
 * - blurRadiusUpdated
 * - colorMapUpdated
 */
</script>
<template>
  <div class="kin-heatmap-settings-editor">
    <h4 class="settings-heading" v-if="showTitle">Heatmap Settings</h4>
    <div class="row">
      <div class="form-group col-sm-6">
        <!-- COLOR MAP PICKER -->
        <label>Color Map</label>
        <KinColorMapEditor
          v-model="localColorMap"
          @input="updateColorMap">
        </KinColorMapEditor>
      </div><!-- .form-group -->

      <div class="form-group col-sm-6">
        <label>Blur Radius: {{localBlurRadius}}</label>
        <range-slider
          class="slider"
          min="0"
          max="32"
          step="1"
          v-model="localBlurRadius"
          @change="updateBlurRadius">
        </range-slider>
      </div><!-- .form-group -->

    </div><!--.row-->
  </div><!--.heatmap-settings-->
</template>
<script>

import RangeSlider from 'vue-range-slider';

import KinColorMapEditor from '@/components/editors/KinColorMapEditor';

//////////////////////////////
// Created
//////////////////////////////

function created() {
  this.localBlurRadius = this.blurRadius;
  this.localColorMap = this.colorMap;
}

//////////////////////////////
// Methods
//////////////////////////////

function updateBlurRadius(newVal) {
  this.localBlurRadius = newVal;
  this.$emit('blurRadiusUpdated', newVal);
}

function updateColorMap(newVal) {
  this.$emit('colorMapUpdated', newVal);
}

//////////////////////////////
// Props
//////////////////////////////

let props = {
  blurRadius: {
    type: Number,
    default: 5
  },
  colorMap: {
    type: String,
    default: 'jet'
  },
  showTitle: {
    type: Boolean,
    default: true
  }
};

//////////////////////////////
// Exported Module
//////////////////////////////

export default {
  data() {
    return {
      localBlurRadius: null,
      localColorMap: null
    };
  },
  components: {
    KinColorMapEditor,
    RangeSlider
  },
  created,
  methods: {
    updateBlurRadius,
    updateColorMap
  },
  props
};
</script>
