<template>
  <div class="kin-map-screen">

    <kin-top-nav
      :appTitle="appTitle"
      :activeSections="activeSections"
      @settingsModalToggled="toggleSettingsModal">
    </kin-top-nav>

    <div class="sidebar sidebar-left"
      :class="{'open': sidebarLeftOpen}">
      <div class="sidebar-nav">

        <router-link to="/map/cluster" tag="button" class="sidebar-nav-item"
          v-if="activeSections.clustering"
          @click.native="openSidebar('left')">
          <i class="sidebar-nav-icon fa fa-snowflake-o"></i>
          <span class="sidebar-nav-title">Cluster</span>
        </router-link>

        <router-link to="/map/raster" tag="button" class="sidebar-nav-item"
          v-if="activeSections.raster"
          @click.native="openSidebar('left')">
          <i class="sidebar-nav-icon fa fa-fire"></i>
          <span class="sidebar-nav-title">Raster</span>
        </router-link>

        <router-link to="/map/chart-filter" tag="button" class="sidebar-nav-item"
          v-if="activeSections.chartFilter"
          @click.native="openSidebar('left')">
          <i class="sidebar-nav-icon fa fa-pie-chart"></i>
          <span class="sidebar-nav-title">Chart Filter</span>
        </router-link>

        <router-link to="/map/filter" tag="button" class="sidebar-nav-item"
          v-if="activeSections.filterBuilder"
          @click.native="openSidebar('left')">
          <i class="sidebar-nav-icon fa fa-filter"></i>
          <span class="sidebar-nav-title">Filter</span>
        </router-link>

        <div class="sidebar-nav-bottom" v-if="hasLastContext">
          <button class="sidebar-nav-item btn-close-sidebar"
            @click="toggleSidebarOpen('left')">
            <i class="fa fa-bars"></i>
          </button>
        </div><!-- .sidebar-nav-bottom -->
      </div><!-- .sidebar-nav -->

      <div class="sidebar-content-wrapper">
        <div class="sidebar-content" v-kin-resizable-div="{minWidth: 350}">

          <router-view class="sidebar-view"></router-view>

        </div><!-- .sidebar-content -->
      </div><!--.sidebar-content-wrapper -->
    </div><!-- .sidebar-left -->

    <kin-web-map></kin-web-map>
  </div>
</template>
<script src="./KinMapScreen.component.js"></script>
