<template>
  <div class="kin-chart-options-editor">

    <h3 style="margin-top: 0;">Chart Options</h3>

    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label>Chart Title</label>
          <input type="text" class="form-control" v-model="localChartTitle" @change="updateChartTitle"/>
        </div><!-- .form-group -->
      </div>
      <div class="col-sm-6">

        <div class="form-group">
          <label>Table Name</label>
          <input type="text" class="form-control" @change="tableNameUpdated" v-model="localTableName" />
        </div><!-- .form-group -->
      </div><!-- .col-sm-12 -->
    </div><!-- .row -->

    <div class="row">

      <div class="col-sm-6">

        <div class="form-group">
          <label>Y Attribute</label>
          <input type="text" class="form-control" @change="yAttrUpdated" v-model="localYAttr" />
        </div><!-- .form-group -->
      </div><!-- .col-sm-6 -->

      <div class="col-sm-6">

        <div class="form-group">
          <label>X Attribute</label>
          <input type="text" class="form-control" @change="xAttrUpdated" v-model="localXAttr" />
        </div><!-- .form-group -->
      </div><!-- .col-sm-6 -->
    </div><!-- .row -->
  </div>
</template>
<script>

//////////////////////////////
// Created
//////////////////////////////

function created() {
  // Bind props to local vars
  this.localChartTitle = this.chartTitle;
  this.localXAttr = this.xAttr;
  this.localYAttr = this.yAttr;
  this.localTableName = this.tableName;
}

//////////////////////////////
// Data
//////////////////////////////

function data() {
  return {
    localXAttr: '',
    localYAttr: '',
    localTableName: ''
  };
}

//////////////////////////////
// Properties
//////////////////////////////

let props = {
  chartTitle: {
    type: String,
    default: ''
  },
  tableName: {
    type: String,
    default: ''
  },
  xAttr: {
    type: String,
    default: ''
  },
  yAttr: {
    type: String,
    default: ''
  }
};

//////////////////////////////
// Methods
//////////////////////////////

/**
 * Fires when the table name model has been updated
 */
function tableNameUpdated() {
  this.$emit('tableNameUpdated', this.localTableName);
}

/**
 * Fires when the x attribute model has been updated
 */
function xAttrUpdated() {
  this.$emit('xAttrUpdated', this.localXAttr);
}

/**
 * Fires when the y attribute has been updated
 */
function yAttrUpdated() {
  this.$emit('yAttrUpdated', this.localYAttr);
}

function updateChartTitle() {
  this.$emit('chartTitleUpdated', this.localChartTitle);
}

//////////////////////////////
// Exported Module
//////////////////////////////

export default {
  created,
  data,
  props,
  methods: {
    tableNameUpdated,
    updateChartTitle,
    xAttrUpdated,
    yAttrUpdated
  }
};

</script>