<template>
  <div class="screen kin-stats-screen">

    <kin-modal-display
      :show="showOptionsModal"
      :showFooter="true"
      @close="showOptionsModal = false"
      title="Chart Options">
      <div slot="title-content">Chart Options</div>
      <div slot="body-content">
        <kin-chart-options-modal
          :colorMap="layerParams.COLORMAP"
          :tableName="tableName" @tableNameUpdated="updateTableName"
          :xAttr="xAttr" @xAttrUpdated="updateXAttr"
          :yAttr="yAttr" @yAttrUpdated="updateYAttr"
          @blurRadiusUpdated="updateBlurRadius"
          @colorMapUpdated="updateColorMap"
          :chartTitle="chartTitle" @chartTitleUpdated="updateChartTitle">
        </kin-chart-options-modal>
      </div>
    </kin-modal-display>

    <h3 class="sidebar-title">
      <i class="fa fa-pie-chart"></i> Chart Filter
      <i class="pull-right btn-chart-options fa fa-cog clickable"
        @click="openOptionsModal()"></i>
    </h3>

    <!--
    <div class="chart-area overflow-x-y sidebar-padding">
      <kin-v-multi-bar-chart
        width="300"
        height="1000"
        :chartData="chartData"
        :xAttr="xAttr"
        :yAttr="yAttr"
        :xTitle="chartTitle"
        yTitle=""
        :barClickCb="updateFilter">
      </kin-v-multi-bar-chart>-->

      <kin-line-chart
        :width="350"
        :height="500"
        :xAttr="'date'"
        :yAttr="'temperature'"
        :xTitle="chartTitle"
        yTitle=""
        :barClickCb="updateFilter">
      </kin-line-chart>
    </div><!-- .sidebar-padding -->
</template>
<script src="./KinStatsScreen.component.js"></script>
<style lang="scss" src="./KinStatsScreen.scss"></style>