<template>
  <div class="kin-table-name-editor">
    <div class="form-group">
      <label style="display: block;">Table Name</label>
      <label style="font-weight: normal;">
        Select
        <input type="radio" id="heatmap-selection-one" value="select" v-model="layer.selectionType" />
      </label>
      <label style="font-weight: normal;">
        Custom
        <input type="radio" id="heatmap-selection-two" value="custom" v-model="layer.selectionType" />
      </label>
    </div><!-- .form-group -->

    <div class="form-group" v-if="layer.selectionType === 'custom'">
      <input type="text" class="form-control" v-model="layer.params.layers" @change="refreshFn()" />
    </div><!-- .form-group -->

    <div class="form-group" v-if="layer.selectionType === 'select'">
      <select class="form-control" v-model="layer.params.layers" @change="refreshFn()">
        <option v-for="t in tables" v-bind:key="t">
          {{t}}
        </option>
      </select>
    </div><!--.form-group -->
  </div><!-- .kin-table-name-editor -->
</template>
<script>

//////////////////////////////
// Props
//////////////////////////////

let props = {
  tables: {
    type: Array,
    default: []
  },
  layer: {
    type: Object,
    default: {
      selectionType: 'select',
      params: {
        layers: ''
      }
    }
  },
  refreshFn: {
    type: Function,
    default: () => { console.warn('refreshFn not registered.'); }
  }
};

//////////////////////////////
// Exported Module
//////////////////////////////

export default {
  props
};
</script>
