<template>

  <div class="p3-signal-dashboard">

    <div class="clearfix form-group">

      <div class="col-sm-6 npl">
        <fieldset>
          <legend>Table Statistics</legend>

          <div class="col-sm-3">
            <label># of Samples</label>
            <div>{{samples}}</div>
          </div><!-- .col-sm-2 -->

        </fieldset><!-- .col-sm-8 -->
      </div>

      <div class="col-sm-6 npl npr">
      <fieldset>
        <legend>Current Operations</legend>
        <div class="alert col-sm-12" :class="getAlertClass(currentOperation)">
          <i class="fa" :class="getOpIcon(currentOperation)"></i>&nbsp;
          {{currentOperation}}
        </div>
      </fieldset>
      </div>

    </div><!-- .form-group -->

    <div class="row form-group">
      <div class="col-sm-6">
        <div class="dashboard-widget clearfix">
          <div class="widget-header col-sm-3 sbs">Applied<br/>Filters</div>
          <div class="widget-body auto-height sidebar-padding col-sm-9 pull-right">
            <div class="filter-cloud">
              <span class="filter"
                v-for="(value,key) in filters" v-bind:key="key"
                v-if="isDisplayedFilter(key, value)">
                <b>{{getFilterName(key)}}:</b> {{getFilterValue(key, value)}} <span class="remove"
                  @click="removeFilter(key)"
                  v-if="isPolyGeom(key, value)">x</span>
              </span>
              <button class="form-control-inline btn btn-warning btn-sm"
                v-if="filtersApplied"
                @click="clearFilters">Clear All</button>
            </div>
          </div>
        </div>
        </div><!-- .col -->

        <div class="col-sm-6 npl">
          <div class="dashboard-widget clearfix">
            <div class="widget-header col-sm-3 sbs">Country<br/>Selection</div>
            <div class="widget-body auto-height sidebar-padding col-sm-9 pull-right">
              <pulse-loader class="widget-loader" :loading="!countrySelect.length <= 1 && false" :color="'#CCC'"></pulse-loader>
              <select class="form-control"
              v-model="filters.country"
              :disabled="countrySelect.length <= 1 && false"
              @change="updateViews">
              <option v-for="option in countrySelect" v-bind:key="option.value" v-bind:value="option.value">
                {{ option.text }}
              </option>
            </select>
            </div><!-- .widget-body -->
          </div><!--.dashboard-widget -->
        </div><!-- .col-sm-4 -->
    </div><!-- .row -->

    <div class="row form-group">
      <div class="col-sm-6">
        <div class="dashboard-widget">
          <div class="widget-header">Samples</div>
          <div class="widget-body">
            <kin-web-map>
            </kin-web-map>
            <div class="map-legend">
              <div class="legend-title">Signal Quality</div>
              <div class="map-legend-item"
                v-for="(color, prop) in idsToRxLevColor" :key="prop">
                <div class="map-legend-color" :style="{background: color}">{{prop}}</div>
              </div>
            </div>
            <div class="widget-loader" v-if="!countryChosen"><div class="message">Choose a country from the dropdown to begin exploring.</div></div>
          </div>
        </div><!-- .dashboard- widget -->
      </div><!-- .col-sm-6 -->

      <div class="col-sm-6 npl">
        <div class="dashboard-widget form-group">
          <div class="widget-header">P3 Score</div>
          <div class="widget-body sidebar-padding" ref="filter-widget">
            <div class="widget-loader" v-if="!countryChosen"><div class="message">Choose a country from the dropdown to begin exploring.</div></div>
            <pulse-loader class="widget-loader" :loading="!barChartLoaded && countryChosen" :color="'#CCC'"></pulse-loader>
            <div class="chart-area overflow-x-y">
              <label>Categories: </label><br/>
              <label class="checkbox-input"><input type="checkbox" v-model="categoriesModel.coverageData" value="coverageData" /> Coverage Data</label>
              <label class="checkbox-input"><input type="checkbox" v-model="categoriesModel.coverageVoice" value="coverageVoice" /> Coverage Data</label>
              <label class="checkbox-input"><input type="checkbox" v-model="categoriesModel.throughput" value="throughput" /> Throughput</label>
              <label class="checkbox-input"><input type="checkbox" v-model="categoriesModel.dataStability" value="dataStability" /> Data Stability</label>
              <!-- <label class="checkbox-input"><input type="checkbox" v-model="categoriesModel.speed" :disabled="!categoriesModel.coverage" value="speed" /> Speed</label>
              <label class="checkbox-input"><input type="checkbox" v-model="categoriesModel.coverage" :disabled="!categoriesModel.speed" value="coverage" /> Coverage</label> -->
              <kin-segmented-bar-chart
                v-if="barChartLoaded"
                :fontSize="12"
                :chartData="barChartData"
                :defaultMargin="{top: 40, right: 20, bottom: 20, left: 20}"
                :selectedData="chartFilters"
                :categories="categories"
                @input="compileFilters"
                containerRef="filter-widget">
              </kin-segmented-bar-chart>
            </div>
          </div>
        </div><!-- .dashboard- widget -->

      </div><!-- .col-sm-6 -->

    </div><!-- .clearfix -->

    <div class="clearfix">
      <div class="col-sm-12">
      </div><!-- .col-sm-12 -->
    </div><!-- .clearfix -->

    <p><small>Copyright &copy; {{new Date().getFullYear() }} Kinetica &amp; P3. All rights reserved.</small></p>

  </div><!-- .p3-dashboard -->
</template>
<script src="./P3SignalDensityDashboardScreen.component.js">
</script>
<style lang="scss" src="./P3SignalDensityDashboardScreen.scoped.scss"></style>