<template>
  <div class="point-shapes-control">
    <select ref="input" class="form-control"
      :value="selectedPointShape"
      @input="updateValue($event.target.value)">
        <option v-for="option in pointShapes" :value="option.key" :key="option.key">
          {{ option.value }}
        </option>
    </select>
  </div>
</template>
<script>
  //////////////////////////////
  // Component
  //////////////////////////////

  export default {
    data: data,
    props: props,
    methods: {
      updateValue
    }
  };

  //////////////////////////////
  // Properties
  //////////////////////////////

  let props = ['value'];

  //////////////////////////////
  // Hooks
  //////////////////////////////

  /**
   * Fires on component creation and returns all static component data
   * @returns {Object} - The static component data object
   */
  function data () {
    return {
      selectedPointShape: 'circle',
      pointShapes: [
        {key: 'none', value: 'None'},
        {key: 'circle', value: 'Circle'},
        {key: 'square', value: 'Square'},
        {key: 'diamond', value: 'Diamond'},
        {key: 'hollowcircle', value: 'Hollow Circle'},
        {key: 'hollowsquare', value: 'Hollow Square'},
        {key: 'hollowdiamond', value: 'Hollow Diamond'},
        {key: 'SYMBOLCODE', value: 'Symbol Code'}
      ]
    };
  }

  //////////////////////////////
  // Methods
  //////////////////////////////

  /**
   * Handler for the input update
   * @param {Number} value - The new input value
   */
  function updateValue (value) {
    this.$refs.input.value = value;
    this.$emit('input', value);
  }
</script>
<style scoped>
</style>