///////////////////////////
// Colors
///////////////////////////

$gray-highlight: #e6dee6;
$purple: #1d1044;
$purple-light: #3b2871;
$purple-dark: #130d2b;
$purple-highlight: #d0c6ef;
$blue: #2e89bd;
$blue-highlight: #2e89bd;

///////////////////////////
// Effects
///////////////////////////

$box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);

///////////////////////////
// Widths
///////////////////////////

$show-right-sidebar: 'false';

// Top Nav
$navbar-height: 50px;

// Side Nav
$sidebar-nav-width: 50px;
$sidebar-left-content-width: 350px;
$sidebar-right-content-width: 350px;
$sidebar-toolbar-height: 50px;
$total-sidebar-left-width: $sidebar-nav-width + $sidebar-left-content-width;
$total-sidebar-right-width: $sidebar-nav-width + $sidebar-right-content-width;

// Sidebar content
$toolbar-height: 65px;

///////////////////////////
// Functions
///////////////////////////

@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

.widget {
  position: relative;
}