.kin-v-bar-chart-container {

  
  .bar-rect {
    fill: orange;
    fill-opacity: 1;
  }

  .bar-title,
  .bar-value {
    fill: #301f5f;
  }

  .bar-rect,
  .bar-title,
  .bar-value {
    cursor: pointer;
  }

  .bar.unhighlighted .bar-rect,
  .bar.unhighlighted .bar-value,
  .bar.unhighlighted .bar-title {
    fill-opacity: 0.5;
  }

  .kin-v-bar-chart-tooltip {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: fixed;
    display: none;
    width: auto;
    height: auto;
    background: none repeat scroll 0 0 white;
    border: 1px solid #EEE;
    border-radius: 4px;
    -webkit-box-shadow: -3px 3px 15px #888888;
    box-shadow: -3px 2px 3px rgba(0, 0, 0, 0.3);
    color: black;
    font: 12px sans-serif;
    padding: 5px;
    text-align: center;
  }

  .legend {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 60%;
  }
}
