<template>
  <div class="kin-v-bar-chart-container">
    <div class="kin-v-bar-chart-tooltip"></div>
    <svg :width="width" :height="height" class="kin-v-bar-chart">
      <rect class="bar-bg" :height="height" :width="width" style="fill-opacity: 0"></rect>
      <g class="bars">
        <g class="bar" v-for="row in chartData" v-bind:key="row[xAttr]">
          <rect class="bar-rect"></rect>
          <text class="bar-title"></text>
          <text class="bar-value"></text>
        </g>
      </g>
      <g class="legend"></g>
    </svg>
  </div><!-- .kin-bar-chart-container -->
</template>

<script src="./KinVBarChart.component.js"></script>
<style lang="scss" src="./KinVBarChart.scss"></style>
