<template>
  <div class="kin-bar-chart-container">
    <div class="kin-bar-chart-tooltip"></div>
    <svg :width="width" :height="height" class="kin-bar-chart">
      <rect class="bar-bg" :height="height" :width="width" style="fill-opacity: 0"></rect>
      <g class="bars">
        <rect class="bar" v-for="row in chartData" v-bind:key="row[xAttr]"></rect>
      </g>
      <g class="legend"></g>
    </svg>
  </div><!-- .kin-bar-chart-container -->
</template>

<script src="./KinBarChart.component.js"></script>
<style lang="scss" src="./KinBarChart.scss"></style>
