<template>
  <div class="key-value-display">
    <div class="clearfix kv-row"
      v-for="(value, key) in displayObject" :key="key">
      <div class="col-sm-5 key-col"><b>{{prettify(key)}}:</b></div>
      <div class="col-sm-7 value-col">{{value}}</div>
    </div>
  </div>
</template>
<script>
//////////////////////////////
// Properties
//////////////////////////////

let props = ['displayObject'];

//////////////////////////////
// Hooks
//////////////////////////////

/**
 * Fires on component creation and returns all static component data
 * @returns {Object} - The static component data object
 */
function data () {
  return {
  };
}

//////////////////////////////
// Methods
//////////////////////////////

/**
 * Makes column names from the database appear pretty.
 * Splits strings on spaces, underscores, and capital letters
 * @return {String} - The prettified string
 */
function prettify (value) {
  let reggie = new RegExp(/(?=[A-Z][^A-Z])|[\s_]/); // Matches spaces, caps, underscores
  let tokens = value.split(reggie);
  tokens = tokens.map((word) => {
    return word[0].toUpperCase() + word.substring(1, word.length);
  });
  return tokens.join(' ');
}

//////////////////////////////
// Component
//////////////////////////////

export default {
  data: data,
  props: props,
  methods: {
    prettify
  }
};
</script>
<style>
  .kv-row:nth-child(odd) {
    background: #EEE;
  }

  .kv-row .key-col {
    padding-right: 0;
  }

  .kv-row .key-col,
  .kv-row .value-col {
    word-break: break-all;
  }
</style>