<template>
<div class="kin-dashboard-screen">

  <kin-top-nav
    :appTitle="appTitle"
    :activeSections="activeSections">
  </kin-top-nav>

  <router-view class="dashboard-view container-fluid"></router-view>

</div><!-- .kin-dashboard-screen -->
</template>
<script>

import config from '@/config/config';
import KinTopNav from '@/components/displays/KinTopNav';

//////////////////////////////
// Data
//////////////////////////////

function data() {
  return {
    activeSections: config.activeSections,
    appTitle: config.appTitle
  };
}

//////////////////////////////
// Exported Module
//////////////////////////////

export default {
  components: {
    KinTopNav
  },
  data
};
</script>
