<template>
<div class="kin-table-geometry-editor">
    <div class="settings-container">
  <div class="row">
      <div class="col-sm-12">
        <h4 class="settings-heading">Geometry Type</h4>
      </div>
    </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label>
              <input type="radio" :id="layer.id + '-latlonwkt-latlon'" value="latlon" v-model="layer.latLonWkt" />
              Lat/Long</label>
          </div><!-- .form-group -->
        </div>

        <div class="col-sm-6">
          <div class="form-group">
            <label>
              <input type="radio" :id="layer.id + '-latlonwkt-wkt'" value="wkt" v-model="layer.latLonWkt" />
              WKT
            </label>
          </div><!-- .form-group -->
        </div>
      </div>

      <div class="row" v-if="layer.latLonWkt === 'latlon'">
        <div class="form-group col-sm-6">
          <label>Lon Column</label>
          <input type="text" class="form-control" placeholder="X Column Name"
            v-model="layer.params.X_ATTR"
            @change="updatedFn" />
        </div><!-- .col-sm-6 -->

        <div class="form-group col-sm-6">
          <label>Lat Column</label>
          <input type="text" class="form-control" placeholder="Y Column Name"
            v-model="layer.params.Y_ATTR"
            @change="updatedFn" />
        </div><!-- .col-sm-6 -->
      </div><!-- .row -->

      <div class="row" v-if="layer.latLonWkt === 'wkt'">
        <div class="form-group col-sm-6">
          <label>WKT Col</label>
          <input type="text" class="form-control" placeholder="WKT Column Name"
            v-model="layer.wktAttr"
            @change="updatedFn" />
        </div><!-- .col-sm-6 -->
      </div><!-- .row -->
    </div><!-- .settings-container -->
  </div><!-- .kin-table-geometry-editor -->
</template>
<script>
//////////////////////////////
// Props
//////////////////////////////

let props = {
  layer: {
    type: Object
  },
  updatedFn: {
    type: Function,
    default: () => { console.warn('No refresh function was defined.'); }
  }
};

//////////////////////////////
// Exported Module
//////////////////////////////

export default {
  props
};
</script>
<style lang="scss" scoped>
</style>
