@import '~@/style/branding.scss';

.navbar {
  border-radius: 0;

  .router-link-active {
    background: rgba(255,255,255,0.3) !important;
  }

  .navbar-nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 50px;

    .nav-item {
      float: none;
      display: inline-block;

      .nav-link {
        text-shadow: none;
        color: #FFF;
        text-decoration: none;
        display: block;
        margin: 0;
        padding: 14px 14px 15px 14px;

        &:hover {
          background-color: rgba(255, 255, 255, 0.1)
        }
      }
    }
  }
}

.brand-logo {
  max-height: 37px;
  padding-top: 15px;
  float: left;
}

.sub-brand {
  margin-left: 15px;
}

.app-title {
  float: left;
  color: #8366d0;
  border-left: 1px solid rgba(255, 255, 255, 0.27);
  font-size: 20px;
  padding-left: 15px;
  margin-left: 15px;
  margin-top: 10px;
  text-shadow: -1px -1px 1px #150f27;
  font-family: Arial;
}

.map-nav {
  height: 50px;
  background: linear-gradient(to left, $purple, $purple-light);
  position: relative;
  z-index: 1;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.27);
  border-bottom: 1px solid #1f1931;
}