<template>
<div class="top-nav-container">
  <nav class="kin-top-nav navbar navbar-toggleable-md map-nav col-sm-12">

    <div class="nav-left">
      <img class="brand-logo" :src="'/static/images/kinetica_logo_white.png'" />
      <img class="brand-logo sub-brand" :src="'/static/images/p3-logo.png'" />
      <div class="app-title">{{ appTitle }}</div>
    </div><!--.nav-left-->

    <ul class="navbar-nav navbar-right">


      <li class="nav-item">
        <router-link to="/dashboard/p3-scoring-dashboard" tag="a" class="nav-link"
          v-if="activeSections.dashboard">
          <i class="sidebar-nav-icon fa fa-tachometer"></i>
          <span class="sidebar-nav-title">Dashboard</span>
        </router-link>
      </li>

      <li class="nav-item">
        <router-link to="/dashboard/p3-signal-dashboard" tag="a" class="nav-link"
          v-if="activeSections.p3SignalDashboard">
          <i class="sidebar-nav-icon fa fa-tachometer"></i>
          <span class="sidebar-nav-title">Signal Quality Dashboard</span>
        </router-link>
      </li>

      <li class="nav-item">
        <router-link to="/dashboard/p3-score" tag="a" class="nav-link"
          v-if="activeSections.p3ScoreDashboard">
          <i class="sidebar-nav-icon fa fa-tachometer"></i>
          <span class="sidebar-nav-title">Scoring Dashboard</span>
        </router-link>
      </li>

      <li class="nav-item">
        <router-link to="/dashboard/p3-signal-density-dashboard" tag="a" class="nav-link"
          v-if="activeSections.p3SignalDensityDashboard">
          <i class="sidebar-nav-icon fa fa-tachometer"></i>
          <span class="sidebar-nav-title">Signal Density Dashboard</span>
        </router-link>
      </li>

      <li class="nav-item">
        <router-link to="/map/raster" tag="a" class="nav-link"
          v-if="activeSections.map">
          <i class="sidebar-nav-icon fa fa-map"></i>
          <span class="sidebar-nav-title">Map</span>
        </router-link>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)"
          @click="toggleSettingsModal">
            <i class="fa fa-cog"></i> Settings
        </a>
      </li>
    </ul>
  </nav>

  <kin-modal-display
      :show="showSettingsModal"
      :showFooter="true"
      @close="showSettingsModal = false">
      <div slot="title-content">Viewer Settings</div>
      <div slot="body-content">
        <kin-settings-modal
          v-model="settings"
          @input="updateSettings">
        </kin-settings-modal>
      </div>
      <div slot="footer-content">

      </div>
    </kin-modal-display>
  </div><!-- .container -->
</template>
<script src="./KinTopNav.component.js"></script>
<style lang="scss" src="./KinTopNav.scoped.scss" scoped></style>
