<template>
  <div class="map-container">

    <!-- WEBMAP -->
    <div id="web-map" :class="[{'sidebar-open': sidebarOpen}, 'map']"></div>

    <!-- WIDGET AREA -->
    <div class="widgets-ul">
      <slot></slot>
    </div>

  </div><!--.wrapper-->
</template>
<script src="./KinWebMap.componenet.js"></script>
<style src="./KinWebMap.scoped.scss" lang="scss" scoped></style>
<style src="./KinWebMap.scss" lang="scss"></style>
