@import url('https://js.arcgis.com/3.21/esri/css/esri.css');
@import url('https://js.arcgis.com/3.21/dijit/themes/claro/claro.css');
@import '~@/style/branding.scss';

.map.sidebar-open {
  width: calc(100vw - #{$total-sidebar-left-width}) !important;
  right: 0 !important;
  left: auto !important;
}

.widgets-ul {
  position: absolute;
  top: 45px;
  left: 0;
}

input {
  margin-left: 1rem;
  border: 0;
  background: transparent;
  font-weight: normal;
}
#home {
  position: fixed;
  top : 30px;
  z-index: 10;
}

#web-map {
  position: absolute;
  top: $navbar-height;
  bottom: 0;
  left: $sidebar-nav-width;
  width: calc(100vw - #{$sidebar-nav-width});
  @if $show-right-sidebar == 'true' {
    right: $sidebar-nav-width;
    width: calc(100vw - #{$sidebar-nav-width} * 2);
  }
  transition: width 1s;
}