<template>
  <div class="kin-line-chart-container clearfix">
    <div class="col-sm-3 legend">
    </div><!-- .legend -->
    <svg class="col-sm-6 kin-line-chart"></svg>
    <div class="col-sm-3 info"></div>
    <div class="kin-line-chart-tooltip"></div>
  </div><!-- .line-chart-container -->
</template>
<script src="./KinLineChart.component.js"></script>
<style lang="scss">
  .kin-line-chart-container {
    .legend, .info {
      overflow: auto;
    }

    li {
      list-style-type: none;
      margin-bottom: 5px;
    }


    .info li {
      border-bottom: 1px solid #CCC;
      margin-bottom: 5px;
      padding-bottom: 5px;
      margin-left: 0;
      padding-left: 0;
    }

    .info ul {
      margin: 0;
      padding: 0;
    }

    .info li:last-child {
      border-bottom: none;
    }

    .legend-box {
      height: 20px;
      width: 20px;
      border: 1px solid gray;
      border-radius: 5px;
      margin-right: 5px;
      float: left;
    }

    .kin-line-chart {
      position: relative;
    }

    .tick text {
      fill: #757575;
    }

    .axis-x .tick:nth-child(odd) {
      display: none;
    }

    .domain, .tick line {
      stroke: #757575;
    }

    .hit-dot {
      z-index: 9999;
    }

    .legend-rect, .legend-label {
      cursor: pointer;
    }

    .default-message {
      color: #AAA;
    }

    .faded {
      stroke-opacity: 0.3;
      fill-opacity: 0.3;
      opacity: 0.5;
    }

    .highlighted {
      stroke-opacity: 1 !important;
      fill-opacity: 1 !important;
      opacity: 1;
    }

    .kin-line-chart-tooltip {
      display: none;
      position: absolute;
      padding: 15px;
      box-shadow: 3px 3px 3px rgba(0,0,0,0.15);
      border-radius: 5px;
      border: 1px solid #CCC;
      background: white;
      z-index: 1;
    }
  }
</style>