<template>
  <div class="app-wrapper">

    <router-view class="main-view"></router-view>

  </div>
</template>

<script type="text/javascript" src="./App.component.js"></script>

<style lang="scss" src="./App.scss"></style>