@import './style/external.scss';
@import './style/bootstrap.scss';
@import './style/branding.scss';

////////////////////////////
// Sidebar
////////////////////////////

.sidebar-title {
  background: #5d40af;
  color: white;
  padding: 30px 15px;
  margin: 0;
}

.sidebar-padding {
  padding: 15px;
}

.sidebar {
  transition: width 1s;
  width: auto;
  position: fixed;
  top: $navbar-height;
  bottom: 0;
  z-index: 3;
  box-shadow: $box-shadow;

  .router-link-active {
    background: #dcdcdc;
  }
}

.sidebar-left {
  left: 0;
  right: auto;

  .sidebar-nav {
    border-right: 1px solid #a2a2a2;
  }

  .sidebar-nav {
    float: left;
  }

  .sidebar-content {
    position: absolute;
    left: $sidebar-nav-width;
  }

  &.open {
    width: $total-sidebar-left-width;

    .sidebar-content {
      width: $sidebar-left-content-width;
    }
  }
}

.sidebar-right {
  display: none;
  @if $show-right-sidebar == 'true' {
    display: block;
  }
  left: auto;
  right: 0;

  .sidebar-nav {
    border-left: 1px solid #a2a2a2;
  }

  .sidebar-nav {
    float: right;
  }

  .sidebar-content {
    float: right;
  }

  &.open {
    width: $total-sidebar-right-width;

    .sidebar-content {
      width: $sidebar-left-content-width;
    }
  }
}

.sidebar-nav-bottom {
  position: absolute;
  bottom: 0;
}

.sidebar-content {
  background: #FFF;
  height: calc(100vh - #{$navbar-height});
  width: 1px;
}

.screen {
  max-height: calc(100vh - #{$navbar-height});
  overflow-y: auto;
}

.sidebar-nav {
  height: 100%;
  width: $sidebar-nav-width;
  background: #c7c7c7;
}

.btn-close-sidebar {
  color: #717171 !important;
}

.sidebar-nav-item {
  background: transparent;
  border: 0 none;
  outline: none;
  position: relative;
  width: $sidebar-nav-width;
  height: $sidebar-nav-width;
  color: $purple;

  &:hover {
    // background-color: rgba(255,255,255,0.2);

    .sidebar-nav-title {
      display: block;
      padding: 5px 15px;
      color: #FFF;
      background: rgba(0, 0, 0, 0.75);
      border-radius: 100px;
      margin-left: 5px;
      margin-top: -15px;
      left: 100%;
      top: 50%;
      position: absolute;
      z-index: 1;
      white-space: nowrap;
    }
  }

  .sidebar-nav-title {
    display: none;
  }
}

.sidebar.open {

  .sidebar-nav-item.router-link-active {
    background: rgba(255,255,255,0.3)
  }

  .sidebar-nav-item.router-link-active::after {
    font-family: 'FontAwesome';
    content: "\f0da";
    right: -5px;
    color: #d8d8d8;
    position: absolute;
    font-size: 23px;
    top: 10px;
    z-index: 1;
  }
}

.tool-info {
  color: #A1A1A1;
}

label.required::before {
  content: "* ";
  color: #FF0000 !important;
}
