@import '~@/style/branding.scss';

body {
  background: #EEE;
}

.p3-signal-dashboard {

  .btn-score {
    border-radius: 5px;
  }

  fieldset {
    background: white;
  }

  legend {
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    background: #605580 !important;
    color: white;
    border-radius: 3px;
  }

  .checkbox-input {
    background: #EEE;
    padding: 5px 10px;
    border-radius: 8px;
    font-weight: normal;
    cursor: pointer;
  }

  #web-map {
    top: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    width: auto !important;
  }
  .dashboard-widget {
    background: #FFF;
    border: 1px solid #CCC;
    border-radius: 5px;
    height: 100%;
  }

  .widget-body {
    height: 60vh;
    position: relative;

  }

  .metric-icon {
    margin: 0 auto;
    background: #a298bb;
    border-radius: 100%;
    height: 95px;
    width: 95px;
    border: 10px solid #e3e0ef;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25098039215686274);

    .metric {
      text-align: center;
      font-size: 30px;
      padding-top: 23px;
      line-height: 32px;
      color: #FFF;
      text-shadow: 1px 1px 1px #605480;
    }

  }
  .metric-label {
    font-size: 16px;
    color: #333;
    text-align: center;
    padding-top: 5px;
    font-weight: bold;
  }

  .pie-container {
    position: relative;
    max-height: 78px;
    overflow: hidden;

    .pie-text {
      position: absolute;
      z-index: 999999;
      bottom: 0;
      left: 0;
      width: 100%;
    }
  }

  .ct-series-a path {
    stroke: #605480;
  }

  .ct-series-b path {
    stroke: #CCC;
  }

  .country-selector {
    color: #2f1f5f;
    font-weight: bold;
  }

  .metric-small {

    .metric {
      font-size: 27px ;
      line-height: 34px;
      padding-top: 22px;
      font-weight: bold;
    }

    .metric-label {
      line-height: 18px;
      font-size: 14px;
    }
  }

  .mapbox-improve-map {
    display: none;
  }

  .btn-clear-brand {
    border-radius: 5px;
    padding: 1px 8px;
    margin: 5px 0;
    background: #8478a5;
    color: #FFF;
    text-shadow: none;
    border: 1px solid #4f4665;

  }

  .btn-clear-brand:active, .btn-clear-brand:visited, .btn-clear-brand:focus {
    background: #a89bca;
    color: #FFF;
    outline: 0;
  }

  .btn-clear-signal {
    display: block;
    margin-top: 10px;
    padding: 1px 5px;
    border-radius: 5px;
    color: white;
    background: #616161;
    text-shadow: none;
    border: 1px solid #656565;
    box-shadow: none;
  }

  .btn-clear-signal:active, .btn-clear-signal:visited, .btn-clear-signal:focus {
    outline: 0;
    background: #616161;
  }

  .score-widget {
    height: 40vh !important;
  }

  .gpu-core {
    background: green;
    display: inline-block;
    margin-bottom: 5px;
    color: white;
    padding: 3px 3px;
    border-radius: 3px;
    line-height: 13px;
  }

  .map-widget {
    height: 81vh !important;
  }

  .zoom-debug {
    position: absolute;
    top: 125px;
    z-index: 1;
    left: 15px;
    padding: 10px;
    border-radius: 5px;
    color: #FFF;
    background: rgba(0,0,0,0.5);
  }

  .stats-widget {
    height: 40vh !important;
    overflow: auto !important;
  }

  .auto-height {
    height: auto;
  }

  .widget-body-tall {
    height: 65vh;
    position: relative;
  }

  .widget-header {
    padding: 5px 15px;
    background-color: #605580;
    border-bottom: 1px solid #CCC;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px 5px 0 0;
    color: #FFF;

    .title {
      margin-top: 5px;
      display: inline-block;
    }
  }

  .widget-header.sbs {
    padding-top: 10px;
    border-radius: 5px 0 0 0;
    border: none;
  }

  .filter-cloud .filter {
    background: #EEE;
    border: 1px solid #EEE;
    padding: 5px;
    margin: 0 5px 5px 0;
    display: inline-block;
    font-size: 12px;
    line-height: 18px;
  }

  .filter-cloud .filter .remove {
    background: rgba(0, 0, 0, 0.3);
    padding: 3px;
    display: inline-block;
    line-height: 9px;
    vertical-align: middle;
    color: white;
    cursor: pointer;
  }

  .widget-loader {
    top: 0;
    left: 0;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    background: rgba(255,255,255,0.8);
    justify-content: center;
    align-items: center;

    .message {
      margin: 15px;
      background: #717171;
      border-radius: 5px;
      padding: 5px 10px;
      color: #FFF;
      box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1607843137254902);
    }
  }

  html, body, .app-wrapper, .kin-dashboard-screen, .p3-dashboard {
    height: 100%;
    width: 100%;
  }

  .flex-grid {
    height: calc(100vh - 70px);
  }

  .alert {
    margin-bottom: 0;
    padding-top: 11px;
    padding-bottom: 11px;
  }

  .alert-warning {
    background: #f8efc0;
    background-image: none;
  }

  .alert-info {
    background: #d9edf7;
    background-image: none;
  }

  .alert-success {
    background: #dff0d8;
    background-image: none;
  }

  .map-legend {
    color: white;
    position: absolute;
    z-index: 1;
    left: 15px;
    top: 15px;
    background: rgba(0,0,0,0.75);
    padding: 8px 10px;
    border-radius: 5px;

    .legend-title {
      font-weight: bold;
      text-shadow: 1px 1px 2px rgba(0,0,0,0.35);
      padding-bottom: 5px;
    }

    .map-legend-item {
      display: inline-block;

      &.faded {
        opacity: 0.2;
      }
    }

    .map-legend-color {
      cursor: pointer;
      margin-right: 5px;
      color: #333;
      padding: 1px 6px;
      box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.35);
      border-radius: 5px;
      display: inline-block;
    }

    .map-legend-label {
      display: inline-block;
    }
  }
}
