<template>

  <div class="p3-signal-dashboard">
<!--
    <div class="row form-group">
      <div class="col-sm-6">
        </div>

        <div class="col-sm-6 npl">

          <div class="dashboard-widget">
          <div class="widget-body auto-height sidebar-padding col-sm-12">
            <div class="filter-cloud">
              <span class="filter"
                v-for="(value,key) in filters" v-bind:key="key"
                v-if="isDisplayedFilter(key, value)">
                <b>{{getFilterName(key)}}:</b> {{getFilterValue(key, value)}} <span class="remove"
                  @click="removeFilter(key)"
                  v-if="isPolyGeom(key, value)">x</span>
              </span>
              <button class="form-control-inline btn btn-warning btn-sm"
                v-if="filtersApplied"
                @click="clearFilters">Clear All</button>
            </div>
        </div>
          </div>

        </div>
    </div>-->

    <div class="row form-group">
      <div :class="{'col-sm-8': showSidebar, 'col-sm-12': !showSidebar}">

        <div class="dashboard-widget form-group">
          <div class="widget-body auto-height sidebar-padding">
            <pulse-loader class="widget-loader" :loading="!countrySelect.length <= 1 && false" :color="'#CCC'"></pulse-loader>
            <select class="form-control country-selector"
            v-model="filters.country"
            :disabled="countrySelect.length <= 1 || currentOperation !== operations.idle"
            @change="countryUpdated">
            <option v-for="option in countrySelect" v-bind:key="option.value" v-bind:value="option.value">
              {{ option.text }}
            </option>
          </select>
          </div><!-- .widget-body -->
        </div><!--.dashboard-widget -->

        <div class="dashboard-widget">
          <div class="widget-body map-widget">
            <kin-web-map>
            </kin-web-map>

            <div class="map-legend">
              <div class="legend-title">Signal Quality</div>
              <div class="map-legend-item"
                v-for="(color, prop) in idsToRxLevColor" :class="{'faded': prop !== filters.signalQuality && filters.signalQuality}" :key="prop" @click="signalUpdated(prop)">
                <div class="map-legend-color" :style="{background: '#' + color}">{{prop}}</div>
              </div>
              <button class="btn btn-sm btn-clear-signal display-block" :disabled="!filters.signalQuality" @click="removeSignalFilter()">Clear Signal Filter</button>
            </div>
            <div class="widget-loader" v-if="!countryChosen"><div class="message">Choose a country from the dropdown to begin exploring.</div></div>
          </div>
        </div><!-- .dashboard- widget -->
        <!--<button @click="toggleDrawer">Toggle</button>-->
      </div><!-- .col-sm-6 -->

      <div class="col-sm-4 npl" v-if="showSidebar">
        <div class="dashboard-widget form-group">
          <div class="widget-header clearfix"><span class="title">P3 Score</span> <button class="pull-right btn btn-sm btn-default btn-clear-brand" @click="removeBrandFilter()" :disabled="!filters.brand"><i class="fa fa-trash"></i> Remove Filter</button></div>
          <div class="widget-body score-widget sidebar-padding" ref="filter-widget">
            <div class="widget-loader" v-if="!countryChosen"><div class="message">Choose a country from the dropdown to begin exploring.</div></div>
            <pulse-loader class="widget-loader" :loading="!barChartLoaded && countryChosen" :color="'#CCC'"></pulse-loader>
            <div class="chart-area overflow-x-y">
              <label class="checkbox-input" :style="{color: '#FFF', background: categoryToColor['coverageQuality4G']}"><input type="checkbox" v-model="categoriesModel.coverageQuality4G" value="coverageQuality4G" /> 4G - Coverage Quality</label>
              <label class="checkbox-input" :style="{color: '#FFF', background: categoryToColor['dataCoverage']}"><input type="checkbox" v-model="categoriesModel.dataCoverage" value="dataCoverage" /> Data - Coverage Area</label>
              <label class="checkbox-input" :style="{color: '#FFF', background: categoryToColor['dataQuality']}"><input type="checkbox" v-model="categoriesModel.dataQuality" value="dataQuality" /> Data - Coverage Quality</label>
              <label class="checkbox-input" :style="{color: '#FFF', background: categoryToColor['throughputAvg']}"><input type="checkbox" v-model="categoriesModel.throughputAvg" value="throughputAvg" /> Throughput - Avg.</label>
              <label class="checkbox-input" :style="{color: '#FFF', background: categoryToColor['throughputMax']}"><input type="checkbox" v-model="categoriesModel.throughputMax" value="throughputMax" /> Throughput - Max</label>
              <label class="checkbox-input" :style="{color: '#FFF', background: categoryToColor['voiceCoverage']}"><input type="checkbox" v-model="categoriesModel.voiceCoverage" value="voiceCoverage" /> Voice - Coverage Area</label>
              <label class="checkbox-input" :style="{color: '#FFF', background: categoryToColor['voiceQuality']}"><input type="checkbox" v-model="categoriesModel.voiceQuality" value="voiceQuality" /> Voice - Coverage Quality</label>

              <kin-segmented-bar-chart
                v-if="barChartLoaded"
                :fontSize="12"
                :chartData="barChartData"
                :defaultMargin="{top: 40, right: 20, bottom: 20, left: 20}"
                :selectedData="chartFilters"
                :categories="categories"
                :barColors="barColors"
                @input="barChartUpdated"
                containerRef="filter-widget">
              </kin-segmented-bar-chart>

            </div>
          </div>
        </div><!-- .dashboard- widget -->

        <div class="dashboard-widget">

          <div class="widget-header">Statistics</div>
          <div class="widget-body sidebar-padding stats-widget">

          <div class="clearfix form-group">
            <div class="col-sm-4 text-center">
              <div class="metric-icon metric-small">
                <div class="metric">1.9B</div>
              </div>
              <div class="metric-label">World Tiles</div>
            </div>

            <div class="col-sm-4 text-center">
              <div class="metric-icon metric-small">
                <div class="metric">{{prettyStat(tableStats.tableSum)}}</div>
              </div>
              <div class="metric-label">Country Tiles</div>
            </div>

            <div class="col-sm-4 text-center">
              <div class="metric-icon metric-small">
                <div class="metric" style="font-size: 27px">{{prettyStat(tableStats.viewSum)}}</div>
              </div>
              <div class="metric-label">View Tiles</div>
            </div>
        </div>

        <div class="clearfix form-group">
            <div class="col-sm-4 text-center">
              <div class="metric-icon metric-small">
                <div class="metric">1</div>
              </div>
              <div class="metric-label">Server</div>
            </div>

            <div class="col-sm-4 text-center">
              <div class="metric-icon metric-small">
                <div class="metric">8</div>
              </div>
              <div class="metric-label">GPUs</div>
            </div>

            <div class="col-sm-4 text-center">
              <div class="metric-icon metric-small">
                <div class="metric" style="font-size: 18px">600ms</div>
              </div>
              <div class="metric-label">Avg. Rendering</div>
            </div>
          </div>

        <div class="clearfix">
          <div class="col-sm-6 text-center" style="width: 200px">
            <div class="pie-container">
            <chartist
                ratio="ct-major-second"
                type="Pie"
                :data="chartData"
                :options="chartOptions">
            </chartist>
              <div class="pie-text">180GB</div>
            </div>
            <h4 style="font-size: 16px;"><b>Memory Usage</b></h4>
          </div>

          </div><!-- .col-sm-8 -->
        </div>

      </div><!-- .col-sm-6 -->
      </div>

    </div><!-- .clearfix -->

    <div class="clearfix">
      <div class="col-sm-12">
      </div><!-- .col-sm-12 -->
    </div><!-- .clearfix -->

    <p><small>Copyright &copy; {{new Date().getFullYear() }} Kinetica &amp; P3. All rights reserved.</small></p>

  </div><!-- .p3-dashboard -->
</template>
<script src="./P3SignalDashboardScreen.component.js">
</script>
<style lang="scss" src="./P3SignalDashboardScreen.scoped.scss"></style>