<template>
  <div class="kin-cb-raster-settings-editor">
    <h4 class="settings-heading">CB Raster Settings</h4>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label>Class Break Attribute</label>
          <input type="text" class="form-control" v-model="localCbAttr" @change="updateUrlParams" />
        </div><!-- .form-group -->
      </div><!-- .col-sm-12 -->
    </div><!-- .row -->

    <div class="clearfix range-well well" v-for="param in classParams" v-bind:key="param.id">
      <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label>Range</label>
          <input type="text" class="form-control" v-model="param.range" @change="updateUrlParams" />
        </div><!-- .form-group -->
      </div><!-- .col-sm-12 -->
      <div class="col-sm-6">
        <div class="form-group">
          <label>Color</label>
          <kin-color-picker v-model="param.pointColor" :defaultColor="param.pointColor.hex" @input="updateUrlParams">
          </kin-color-picker>
        </div><!-- .form-group -->
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label>Point Size</label>
          <input type="text" class="form-control" v-model="param.pointSize" @change="updateUrlParams" />
        </div><!-- .form-group -->
      </div><!-- .col-sm-6 -->
      <div class="col-sm-12">
        <button class="btn btn-danger form-control" @click="removeRange(param)">
          <i class="fa fa-trash"></i> Remove Range
        </button>
      </div><!-- .col-sm-12 -->
      </div>
    </div><!-- .row -->

    <div class="form-group">
      <button class="btn btn-primary form-control" @click="addRange()">
        <i class="fa fa-plus"></i> Add Range
      </button>
    </div><!-- .form-group -->

  </div><!-- .kin-cb-raster-settings-editor-->
</template>
<script>
import * as lodash from 'lodash';
import * as uuid from 'uuid/v1';
import KinColorPicker from '@/components/editors/KinColorPicker';

//////////////////////////////
// Fixtures
//////////////////////////////

let defaultColor = {
  hex: '#00FF00',
  hsl: {
    h: 150,
    s: 0.5,
    l: 0.2,
    a: 1
  },
  hsv: {
    h: 150,
    s: 0.66,
    v: 0.30,
    a: 1
  },
  rgba: {
    r: 25,
    g: 77,
    b: 51,
    a: 1
  },
  a: 1
};

//////////////////////////////
// Data
//////////////////////////////

function data() {
  return {
    classParams: [],
    localCbAttr: '',
    rangeFixture: {
      id: '',
      range: '',
      pointSize: 1,
      pointColor: defaultColor
    }
  };
}

//////////////////////////////
// Methods
//////////////////////////////

/**
 * Adds a blank range to the list of ranges
 */
function addRange() {
  let self = this;
  let newRange = lodash.cloneDeep(self.rangeFixture);
  newRange.id = uuid();
  self.classParams.push(newRange);
}

/**
 * Removes the passed range from the list of class params
 * @param {Object} range - The range object to remove based on its id
 */
function removeRange(range) {
  let self = this;
  let index = lodash.findIndex(self.classParams, (param) => { return param.id === range.id; });
  self.classParams.splice(index, 1);
  self.updateUrlParams();
}

/**
 * Compiles the class break url and emits a urlParamsUpdated event
 * that passes the compiled url.
 */
function updateUrlParams() {
  let newVal = this.compileUrl.bind(this)();
  this.$emit('urlParamsUpdated', newVal);
}

/**
 * Compiles the URL based on the class ranges array.
 * @return {String} - The compiled url based on the class ranges array
 */
function compileUrl() {
  let pointSizes = [];
  let pointColors = [];
  let ranges = [];
  let pointShapes = [];
  lodash.forEach(this.classParams, (param) => {
    ranges.push(param.range);
    pointSizes.push(param.pointSize);
    pointColors.push(param.pointColor.hex.substring(1, param.pointColor.hex.length));
    pointShapes.push('circle');
  });
  return {
    ranges: ranges.join(','),
    cbAttr: this.localCbAttr,
    pointSizes: pointSizes.join(','),
    pointColors: pointColors.join(','),
    pointShapes: pointShapes.join(',')
  };
}

//////////////////////////////
// Exported Module
//////////////////////////////

export default {
  components: {
    KinColorPicker
  },
  data,
  methods: {
    addRange,
    compileUrl,
    removeRange,
    updateUrlParams
  }
};
</script>
<style lang="scss" scoped>
.range-well {
  background: #FFF;
}
</style>
