<template>

  <div class="p3-score-dashboard">

    <div class="clearfix form-group">

      <div class="col-sm-6 npl">
        <fieldset>
          <legend>Table Statistics</legend>

          <div class="col-sm-3">
            <label># of Samples</label>
            <div>{{samples}}</div>
          </div><!-- .col-sm-2 -->

          {{tile}}

        </fieldset><!-- .col-sm-8 -->
      </div>

      <div class="col-sm-6 npl npr">
      <fieldset>
        <legend>Current Operations</legend>
        <div class="alert col-sm-8" :class="getAlertClass(currentOperation)">
          <i class="fa" :class="getOpIcon(currentOperation)"></i>&nbsp;
          {{currentOperation}}
        </div>
        <div class="col-sm-4 text-center npr npl" style="margin: 5px 0">
          <button class="btn btn-primary btn-score"
          @disabled="currentOperation === operations.idle"
          @click="testProc">Score Providers <i class="fa fa-signal"></i></button>
        </div>
      </fieldset>
      </div>

    </div><!-- .form-group -->

    <div class="row form-group">
      <div class="col-sm-6">
        <div class="dashboard-widget clearfix">
          <div class="widget-header col-sm-3 sbs">Applied<br/>Filters</div>
          <div class="widget-body auto-height sidebar-padding col-sm-9 pull-right">
            <div class="filter-cloud">
              <span class="filter"
                v-for="(value,key) in filters" v-bind:key="key"
                v-if="isDisplayedFilter(key, value)">
                <b>{{getFilterName(key)}}:</b> {{getFilterValue(key, value)}} <span class="remove"
                  @click="removeFilter(key)"
                  v-if="isPolyGeom(key, value)">x</span>
              </span>
              <button class="form-control-inline btn btn-warning btn-sm"
                v-if="filtersApplied"
                @click="clearFilters">Clear All</button>
            </div>
          </div>
        </div>
        </div><!-- .col -->

        <div class="col-sm-6 npl">
          <div class="dashboard-widget clearfix">
            <div class="widget-header col-sm-3 sbs">Country<br/>Selection</div>
            <div class="widget-body auto-height sidebar-padding col-sm-9 pull-right">
              <pulse-loader class="widget-loader" :loading="!countries.length <= 1 && false" :color="'#CCC'"></pulse-loader>
              <select class="form-control"
              v-model="filters.country"
              :disabled="countries.length <= 1 && false"
              @change="updateStats">
              <option v-for="option in countries" v-bind:key="option.value" v-bind:value="option.value">
                {{ option.text }}
              </option>
            </select>
            </div><!-- .widget-body -->
          </div><!--.dashboard-widget -->
        </div><!-- .col-sm-4 -->
    </div><!-- .row -->

    <div class="row form-group">
      <div class="col-sm-6">
        <div class="dashboard-widget">
          <div class="widget-header">Samples</div>
          <div class="widget-body-tall">
            <kin-web-map>
            </kin-web-map>
          </div>
        </div><!-- .dashboard- widget -->
      </div><!-- .col-sm-6 -->

      <div class="col-sm-6 npl">
        <div class="dashboard-widget form-group">
          <div class="widget-header">P3 Score</div>
          <div class="widget-body sidebar-padding" ref="filter-widget">
            <span v-if="!chartsLoaded" style="color: #AAA;">Click the Score Providers button to see the P3 Score breakdown for each provider.</span>
            <pulse-loader class="widget-loader" :loading="chartsLoaded && !barChartLoaded" :color="'#CCC'"></pulse-loader>
            <div v-if="barChartLoaded || barChartData.length > 0">
              <div class="chart-area overflow-x-y">
                <label> Categories: </label>
                <label class="checkbox-input"><input type="checkbox" v-model="categoriesModel.speed" :disabled="!categoriesModel.coverage" value="speed" /> Speed</label>
                <label class="checkbox-input"><input type="checkbox" v-model="categoriesModel.coverage" :disabled="!categoriesModel.speed" value="coverage" /> Coverage</label>
                <kin-segmented-bar-chart
                  v-if="barChartLoaded"
                  :fontSize="12"
                  :chartData="barChartData"
                  :defaultMargin="{top: 40, right: 20, bottom: 20, left: 20}"
                  :selectedData="chartFilters"
                  :categories="categories"
                  @input="compileFilters"
                  containerRef="filter-widget">
                </kin-segmented-bar-chart>
              </div>
            </div>
          </div>
        </div><!-- .dashboard- widget -->

        <div class="dashboard-widget">
          <div class="widget-header">P3 Score Over Time</div>
          <div class="widget-body sidebar-padding" ref="time-series">
            <span v-if="!chartsLoaded" style="color: #AAA;">Click the Score Providers button to see the P3 Score breakdown over time for each provider.</span>
            <pulse-loader class="widget-loader" :loading="chartsLoaded && !lineChartLoaded" :color="'#CCC'"></pulse-loader>
            <div v-if="barChartLoaded || barChartData.length > 0">
            <div class="chart-area overflow-x-y">
                <kin-line-chart
                  v-if="lineChartLoaded"
                  :chartData="lineChartData"
                  :selectedData="chartFilters"
                  :colors="colorMap"
                  @input="compileFilters"
                  yAttr='score'
                  containerRef="time-series">
                </kin-line-chart>
              </div>
            </div>
          </div>
        </div><!-- .dashboard- widget -->
      </div><!-- .col-sm-6 -->

    </div><!-- .clearfix -->

    <div class="clearfix">
      <div class="col-sm-12">
      </div><!-- .col-sm-12 -->
    </div><!-- .clearfix -->

    <p><small>Copyright &copy; {{new Date().getFullYear() }} Kinetica &amp; P3. All rights reserved.</small></p>

  </div><!-- .p3-dashboard -->
</template>
<script src="./P3DashboardScreen.component.js">
</script>
<style lang="scss" src="./P3DashboardScreen.scoped.scss"></style>