@import '~@/style/branding.scss';

body {
  background: #EEE;
}

.p3-score-dashboard {

  .btn-score {
    border-radius: 5px;
  }

  fieldset {
    background: white;
  }

  legend {
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    background: #605580 !important;
    color: white;
    border-radius: 3px;
  }

  .checkbox-input {
    background: #EEE;
    padding: 5px 10px;
    border-radius: 8px;
    font-weight: normal;
    cursor: pointer;
  }

  #web-map {
    top: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    width: auto !important;
  }
  .dashboard-widget {
    background: #605580;
    border: 1px solid #CCC;
    border-radius: 5px;
    height: 100%;
  }

  .widget-body {
    height: 30vh;
    position: relative;
    background: white;
  }

  .auto-height {
    height: auto;
  }

  .widget-body-tall {
    height: 65vh;
    position: relative;
  }

  .widget-header {
    padding: 5px 15px;
    background-color: #605580;
    border-bottom: 1px solid #CCC;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px 5px 0 0;
    color: #FFF;
  }

  .widget-header.sbs {
    padding-top: 10px;
    border-radius: 5px 0 0 0;
    border: none;
  }

  .filter-cloud .filter {
    background: #EEE;
    border: 1px solid #EEE;
    padding: 5px;
    margin: 0 5px 5px 0;
    display: inline-block;
    font-size: 12px;
    line-height: 18px;
  }

  .filter-cloud .filter .remove {
    background: rgba(0, 0, 0, 0.3);
    padding: 3px;
    display: inline-block;
    line-height: 9px;
    vertical-align: middle;
    color: white;
    cursor: pointer;
  }

  .widget-loader {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    background: rgba(255,255,255,0.8);
    justify-content: center;
    align-items: center;
  }

  html, body, .app-wrapper, .kin-dashboard-screen, .p3-dashboard {
    height: 100%;
    width: 100%;
  }

  .flex-grid {
    height: calc(100vh - 70px);
  }

  .alert {
    margin-bottom: 0;
    padding-top: 11px;
    padding-bottom: 11px;
  }

  .alert-warning {
    background: #f8efc0;
    background-image: none;
  }

  .alert-info {
    background: #d9edf7;
    background-image: none;
  }

  .alert-success {
    background: #dff0d8;
    background-image: none;
  }
}
