@import '~@/style/branding';

.range-slider-fill {
  background-color: $purple;
}

.btn-queryable,
.btn:active .btn-queryable,
.btn:focus .btn-queryable,
.btn:active .btn-queryable {
  color: #CCC !important;
  outline: 0 !important;
  box-shadow: none !important;

}

.btn-queryable {
  .active {
    color: #333;
  }
}

.settings-heading {
  margin-top: 0;
  margin-bottom: 15px;
  border-bottom: 1px solid #CCC;
  padding-bottom: 3px;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 15px;
}