<template>
  <li>
      <div class="layer-title clearfix">
          <div class="col-sm-9 no-pad-left no-pad-right">
          <i class="handle fa fa-bars"></i>
          <input type="text" class="form-control layer-name" placeholder="Layer name..." v-model="layer.name" :value="`Layer ${layer.index}`" />
        </div><!-- .col-sm-9 -->
        <div class="col-sm-3 no-pad-right">
          <button class="btn btn-white btn-options form-control" :class="{'active': layer.optionsOpen}" @click="layer.optionsOpen = !layer.optionsOpen"><i class="fa fa-cog"></i></button>
        </div><!-- .col -->
      </div>

      <div class="layer-options" v-show="layer.optionsOpen">

      <kin-table-name-editor
        :layer="layer"
        :refreshFn="refreshFn"
        :tables="tables">
      </kin-table-name-editor>

    <div class="layer-controls clearfix">

      <h4 class="settings-heading clickable"
        @click="visualizationSettingsOpen = !visualizationSettingsOpen">
        Visualization Settings
          <i class="fa pull-right" :class="{'fa-caret-down': visualizationSettingsOpen, 'fa-caret-right': !visualizationSettingsOpen}"></i>
      </h4>

      <div class="visualization-settings" v-show="visualizationSettingsOpen">
        <div class="row">
          <!-- STYLE PICKER -->
          <div class="form-group col-sm-6">
            <label>Style</label>
            <select class="form-control"
              v-model="layer.params.STYLES"
              @change="refreshLayer">
                <option
                  v-for="(style, index) in layerStyles"
                  :key="style.key"
                  :value="style.key">
                    {{style.value}}
                </option>
            </select>
          </div><!-- .form-group -->

          <!-- OPACITY SLIDER -->
          <div class="form-group col-sm-6">
            <label>Opacity: {{(layerOpacity*100).toFixed(0)}}%</label>
            <range-slider
              class="slider"
              min="0"
              max="1"
              step="0.01"
              v-model="layerOpacity">
            </range-slider>
          </div><!-- .form-group -->
        </div><!--.row-->

        <!-- HEATMAP SETTINGS -->
        <kin-heatmap-settings-editor
          v-if="isHeatmap"
          :colorMap="layer.params.COLORMAP"
          @colorMapUpdated="updateColorMap"
          :blurRadius="layer.params.BLUR_RADIUS"
          @blurRadiusUpdated="updateBlurRadius">
        </kin-heatmap-settings-editor>

        <kin-raster-settings-editor
          v-if="isRaster"
          :pointSize="layer.params.POINTSIZES"
          @pointSizeUpdated="updatePointSize"
          :pointShape="layer.params.POINTSHAPES"
          @pointShapeUpdated="updatePointShape"
          :pointColor="layer.params.POINTCOLOR"
          @pointColorUpdated="updatePointColor">
        </kin-raster-settings-editor>

        <kin-cb-raster-settings-editor
          v-if="isCbRaster"
          @urlParamsUpdated="updateUrlParams">
        </kin-cb-raster-settings-editor>

      </div><!-- .visualization-settings -->

      <h4 class="settings-heading clickable"
        @click="advancedSettingsOpen = !advancedSettingsOpen">
          Advanced Settings
          <i class="fa pull-right" :class="{'fa-caret-down': advancedSettingsOpen, 'fa-caret-right': !advancedSettingsOpen}"></i>
      </h4>

      <div class="advanced-settings" v-show="advancedSettingsOpen">
        <div class="row">
          <!-- RENDER SHAPES -->
          <div class="form-group col-sm-6">
            <label class="normal">
              <input type="checkbox" v-model="renderPoints"
                v-bind:true-value="true"
                v-bind:false-value="false"
                @change="updateParam('DOPOINTS', renderPoints)" />
              Render Points
            </label>
          </div><!-- .form-group -->

          <!-- RENDER SHAPES -->
          <div class="form-group col-sm-6">
            <label class="normal">
              <input type="checkbox" v-model="renderShapes"
                v-bind:true-value="true"
                v-bind:false-value="false"
                @change="updateParam('DOSHAPES', renderShapes)" />
              Render Shapes
            </label>
          </div><!-- .form-group -->
        </div><!-- .row -->

        <div class="row">
          <!-- RENDER SYMBOLOGY -->
          <div class="form-group col-sm-12">
            <label class="normal">
              <input type="checkbox" v-model="renderSymbology"
                v-bind:true-value="true"
                v-bind:false-value="false"
                @change="updateParam('DOSYMBOLOGY', renderSymbology)" />
              Render Symbology
            </label>
          </div><!-- .form-group -->
        </div><!-- .row -->
      </div><!-- .advanced-settings-->

      <h4 class="settings-heading clickable"
        @click="querySettingsOpen = !querySettingsOpen">
        Query Settings
          <i class="fa pull-right" :class="{'fa-caret-down': querySettingsOpen, 'fa-caret-right': !querySettingsOpen}"></i>
      </h4>

      <div class="query-settings" v-show="querySettingsOpen">

        <kin-table-geometry-editor
          :layer="layer"
          :updateFn="updateParam">
        </kin-table-geometry-editor>
      </div><!-- .query-settings -->

    <div class="pad-top">
      <button class="btn btn-sm btn-danger form-control"
            @click="removeLayerFn(layer)"><i class="fa fa-trash"></i> Remove Layer</button>
    </div><!-- .form-group-->
    </div><!-- .layer-controls -->
    </div><!--.layer-editor-->
  </li>
</template>
<script src="./KinWmsLayerEditor.component.js"></script>
<style lang="scss" src="./KinWmsLayerEditor.scoped.scss" scoped></style>
<style lang="scss" src="./KinWmsLayerEditor.scss"></style>