@import '~@/style/branding';

.btn-layer-details {
  color: #AAA;
  padding: 0 5px 0 0;
  line-height: 27px;
  font-size: 17px;
}

.layer-name {
  border: 0;
  box-shadow: none;
  outline: none;
}

.btn-options, .btn-options:active {
  outline: none;
  border: none;
  box-shadow: none;
}

.btn-options:hover, .btn-options:active {
  color: $blue;
}

.btn-options.active {
  color: $blue;
  background: #EEE;
  border-radius: 5px 5px 0 0;
  box-shadow: none;
  outline: none;
  border: none;
}

.layer-name:hover, .layer-name:focus {
  box-shadow: inset 0px 0px 9px rgba(0, 0, 0, 0.11);
  background: #ffffed;
}

.layer-options {
  background: #EEE;
  padding: 15px;
}

.btn-layer-details .active {
  color: $blue;
}

.layer-name {
  display: inline-block;
  max-width: 185px;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
}

li {
  border-top: 1px solid #EEE;
  padding: 7px 5px;
  list-style-type: none;
}

li:last-child {
  border-bottom: 1px solid #EEE;
}

.btn-visibility .fa-eye-slash {
  opacity: 0.3;
}

.range-slider {
  width: 100%;
}

.inline-buttons {
  margin-left: 5px;
}

.btn-inline {
  $padding: 2px;
  padding-left: $padding;
  padding-right: $padding;
}

.vc-slider {
  max-width: 100%;
  width: auto;
}
